<div class="sidebar scrollable-section mt-5">
  <div class="sidebar-nav" *ngIf="!isAdmin" [ngClass]="expanded ? 'ps-4' : 'ps-1'">
    <div class="mb-3" [routerLink]="['/user/dashboard']" routerLinkActive="active" (click)="showSearchBar(true)"
         title="Home">
      <span class="fa fa-house me-2"></span>
      <span *ngIf="expanded">Home</span>
    </div>

    <div class="mb-3" [routerLink]="['/user/post-grievance']" routerLinkActive="active" (click)="showSearchBar()"
         title="Post Grievance">
      <span class="fa fa-pen-to-square me-2"></span>
      <span *ngIf="expanded">Post Grievance</span>
    </div>

    <div class="mb-3" [routerLink]="['/user/my-grievances']" routerLinkActive="active" (click)="showSearchBar(true)"
         title="My Grievance">
      <span class="fa fa-layer-group me-2"></span>
      <span *ngIf="expanded">My Grievance</span>
    </div>

    <div class="mb-3" [routerLink]="['/user/account']" routerLinkActive="active" (click)="showSearchBar()"
         title="Account">
      <span class="fa fa-address-book me-2"></span>
      <span *ngIf="expanded">Account</span>
    </div>
  </div>

  <div class="sidebar-nav" *ngIf="isAdmin" [ngClass]="expanded ? 'ps-4' : 'ps-0'">
    <div class="mb-3" [routerLink]="['/admin/dashboard']" routerLinkActive="active" (click)="showSearchBar()"
         title="Dashboard">
      <span class="fa fa-home me-2"></span>
      <span *ngIf="expanded">Dashboard</span>
    </div>

    <div class="mb-3" [routerLink]="['/admin/users']" routerLinkActive="active" (click)="showSearchBar()" title="Users">
      <span class="fa fa-users me-2"></span>
      <span *ngIf="expanded">Users</span>
    </div>

    <div class="mb-3" [routerLink]="['/admin/pending-grievances']" routerLinkActive="active"
         (click)="showSearchBar(true)" title="Pending Grievance">
      <span class="fa fa-layer-group me-2"></span>
      <span *ngIf="expanded">Pending Grievance</span>
    </div>

    <div class="mb-3" [routerLink]="['/admin/user-approval-request']" routerLinkActive="active"
         (click)="showSearchBar()" title="Approval Requests">
      <span class="fa fa-user-plus me-2"></span>
      <span *ngIf="expanded">Approval Requests</span>
    </div>

    <div class="mb-3" [routerLink]="['/admin/account']" routerLinkActive="active" (click)="showSearchBar()"
         title="Account">
      <span class="fa fa-address-book me-2"></span>
      <span *ngIf="expanded">Account</span>
    </div>
  </div>

  <div (click)="signOut()" style="cursor: pointer; position: absolute; top: 40rem" title="Sign Out">
    <i class="fa-solid fa-right-from-bracket me-2" [ngStyle]=" {'padding-left': expanded ? '2rem' : '0.5rem'} "></i>
    <span *ngIf="expanded">Sign Out</span>
  </div>
</div>
