<div class="row">
  <div [ngClass]="hasPressed ? 'col-md-7 scrollable-section ps-5' : 'col-md-9 scrollable-section ps-5'">
    <div class="mt-5 mb-5" style="width: 100%; border: none; cursor: pointer" *ngFor="let article of articles; let i = index"
         (click)="getRelatedArticles(article?.id, article?.title)">
      <div class="card card-body shadow card-main" [ngStyle]="{'background' : article?.id === relatedArticleId ? '#eceefd' : ''}">
        <div class="row">
          <div class="align-content-center" [ngClass]=" isAdmin ? '' : 'col-md-1'">
            <div class="ms-3">
              <div *ngIf="!isAdmin;">
                <div class="d-flex justify-content-center" style="transform: scale(1.5,1.25)"
                     [ngStyle]="{'transform' :  hasUpVoted[i] ? 'scale(1.85,1.6)' : 'scale(1.5,1.25)' }">
                  <a class="fa fa-solid fa-arrow-up" style="text-decoration: none" (click)="upVote(article.id, $event)"
                     [ngStyle]="{'color' :  hasUpVoted[i] ? '#3d5af1' : 'gray' }"></a>
                </div>
                <div class="d-flex justify-content-center mt-1 mb-1"><span style="font-size: 17px; font-weight: 600"
                                                                           [ngStyle]="{'color' :  hasUpVoted[i] ? '#3d5af1' : (hasDownVoted[i] ? 'red' : 'gray') }">{{article?.vote}}</span></div>
                <div class="d-flex justify-content-center" style="transform: scale(1.5,1.25)"
                     [ngStyle]="{'transform' :  hasDownVoted[i] ? 'scale(1.85,1.6)' : 'scale(1.5,1.25)' }">
                  <a class="fa fa-solid fa-arrow-down" style="text-decoration: none" (click)="downVote(article.id, $event)"
                     [ngStyle]="{'color' :  hasDownVoted[i] ? 'red' : 'gray' }"></a>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="isAdmin ? 'col-md-12 ms-3 pe-5' : 'col-md-11'">
            <div class="col-md-12 row">
              <div class="col-md-10">
                <h4 class="card-title mb-3" style="font-family: 'poppins', sans-serif; color: #4f4d4d"><b>{{article?.title}}</b></h4>
              </div>
              <div class="col-md-2 d-flex justify-content-end" style="margin-top: -0.5rem;" *ngIf="isAdmin">
                <div>
                  <strong>Votes</strong>
                  <br>
                  <span class="fa-solid fa-circle-check fa-xl me-1"></span>
                  <span style="font-size: 20px"><strong>{{article?.vote}}</strong></span>
                  <br>
                  <button style="border: none; border-radius: 50%" class="btn-sm mt-2" ngbTooltip="Expand / Collapse"
                          *ngIf="article?.content.length > 115">
                    <span [ngClass]="!isNotCollapsed[i] ? 'fa fa-solid fa-angle-down' : 'fa fa-solid fa-angle-up'" style="color: #3d5af1" (click)="collapse(i, $event)"></span>
                  </button>
                </div>
              </div>
              <div *ngIf="article?.author === loggedInUserId && !isAdmin"
                   class="col-md-1 d-flex justify-content-end">
                <span class="fa-solid fa-flag" ngbTooltip="Your Article" style="color: #3d5af1"></span>
              </div>
              <div class="col-md-1 d-flex justify-content-end" *ngIf="article?.content.length > 115 && !isAdmin">
                <button style="border: none; border-radius: 50%; height: 25px" class="btn-sm" ngbTooltip="Expand / Collapse">
                  <span [ngClass]="!isNotCollapsed[i] ? 'fa fa-solid fa-angle-down' : 'fa fa-solid fa-angle-up'" style="color: #3d5af1" (click)="collapse(i, $event)"></span>
                </button>
              </div>
            </div>
            <div *ngIf="!isNotCollapsed[i] && article?.content.length > 115">
              <div class="row">
                <div class="col-md-11">
                    <span class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">
                      {{article?.content.substring(0, 115)}}
                      <strong> ...</strong>
                    </span>
                </div>
              </div>
            </div>
            <ng-container>
              <div [ngbCollapse]="!isNotCollapsed[i] && article?.content.length > 115">
                <p class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">{{article?.content}}</p>
              </div>
            </ng-container>
<!--            <p class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">{{article?.content}}</p>-->
            <hr>
            <div class="row">
              <div class="col-md-7" *ngIf="isAdmin && !article?.stay_anonymous">
                <strong style="color: #3d5af1">Posted By: </strong> <span>{{article?.author_name | titlecase}}</span>
              </div>
              <div class="col-md-5">
                <strong><span style="color: #3d5af1">Posted on</span>: </strong>{{article?.created_at | date : 'MMM dd, yyyy | hh:mm:ss a'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="hasPressed ? 'col-md-5 scrollable-section ps-5' : 'col-md-3 scrollable-section'">
    <div class="d-flex justify-content-center" *ngIf="!isAdmin">
      <button class="btn btn-primary mt-5 mb-4" style="width: 70%; background: #3d5af1;" [routerLink]="['/post-grievance']">+ Post new Grievance</button>
    </div>
    <div class="card shadow p-3 d-flex justify-content-center me-3" *ngIf="hasPressed" style="border: none"
    [ngStyle]=" {'margin-top' : isAdmin ? '5rem' : ''} ">
      <div class="row">
        <div style="text-align: justify" class="col-md-10">
          <h6 style="text-align: justify">Articles similar to <b>{{relatedArticles[relatedArticles.length - 1]}}</b></h6>
        </div>
        <div style="text-align: end; cursor: pointer" class="col-md-2">
          <span (click)="close()" class="text-danger">close</span>
        </div>
      </div>
      <div class="card-body scrollable-section-similar-article">
        <div *ngFor="let similar of relatedArticles; let l = last; let ii = index">
          <div class="card card-body shadow mb-4" *ngIf="!l" style="background: #eceefd">
            <div class="card-body row">
              <div class="col-md-12">
                <div class="pe-5">
                  <div class="col-md-11 row">
                    <div class="col-md-10">
                      <h4 class="card-title mb-3" style="font-family: 'poppins', sans-serif; color: #4f4d4d"><b>{{similar?.title}}</b></h4>
                    </div>
                    <div class="col-md-2 custom" style="margin-top: -1.5rem;" *ngIf="isAdmin">
                      <div>
                        <strong>Votes</strong><br>
                        <i class="fa-solid fa-circle-check fa-xl me-1"></i>
                        <strong style="font-size: 20px">{{similar?.vote}}</strong>
                      </div>
                    </div>
                  </div>
<!--                  <h4 class="card-title mb-3" style="font-family: 'poppins', sans-serif; color: #4f4d4d"><b>{{similar?.title}}</b></h4>-->
                  <p class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">{{similar?.content}}</p>
                </div>
                <hr>
                <div>
                  <strong><span style="color: #3d5af1">Posted on</span>: </strong>{{similar?.created_at | date : 'MMM dd, yyyy | hh:mm:ss a'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner>
  <app-spinner></app-spinner>
</ngx-spinner>
