<div>
  <app-top-bar [hasArticle]="true"></app-top-bar>
</div>
<div class="row" style="background: #fcfcfc">
  <div class="col-md-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-md-10 scrollable-section">
    <div class="mt-5 ms-5">
      <ng-container *ngIf="myArticles.length>0; else el">
        <div *ngFor="let articles of myArticles; let i = index">
          <div class="card card-body shadow mt-3 row col-10" (click)="openModel(editArticle, articles.title, articles.content, articles.stay_anonymous)">
            <div class="row col-md-12">
              <div>
                <div class="row">
                  <div class="col-md-10">
                    <h4 class="card-title mb-3" style="font-family: 'poppins', sans-serif; color: #4f4d4d"><b>{{articles?.title}}</b></h4>
                  </div>
                  <div class="col-md-2 d-flex justify-content-end">
                    <div>
                      <span class="badge rounded-pill" style="transform: scale(1.3,1.3); border: 1px solid #3d5af1; color: #3d5af1;">
                        <strong>{{articles?.vote}} Votes</strong>
                      </span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-end" *ngIf="articles?.content.length > 115">
                    <button style="border: none; border-radius: 50%" class="btn-sm" ngbTooltip="Expand / Collapse">
                      <span [ngClass]="!isNotCollapsed[i] ? 'fa fa-solid fa-angle-down' : 'fa fa-solid fa-angle-up'" style="color: #3d5af1" (click)="collapse(i, $event)"></span>
                    </button>
                  </div>
                </div>
                <div *ngIf="!isNotCollapsed[i] && articles?.content.length > 115">
                  <div class="row">
                    <div class="col-md-11">
                    <span class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">
                      {{articles?.content.substring(0, 115)}}
                      <strong> ...</strong>
                    </span>
                    </div>
                  </div>
                </div>
                <ng-container>
                  <div [ngbCollapse]="!isNotCollapsed[i] && articles?.content.length > 115">
                    <p class="card-text" style="font-family: 'poppins', sans-serif; color: #4f4d4d; font-size: 18px; text-align: justify">{{articles?.content}}</p>
                  </div>
                </ng-container>
              </div>
              <hr class="mt-2">
              <div class="row">
                <div class="col-md-10">
                  <strong><span style="color: #3d5af1">Posted on</span>: </strong>{{articles?.created_at | date : 'MMM dd, yyyy | hh:mm:ss a'}}
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                  <span class="badge rounded-pill" style="width: 100px" [ngStyle]=" {'background-color': articles?.is_completed ? '#65de6b' : '#6677ce'} ">
                    <strong>{{articles?.is_completed ? 'Completed' : 'Pending'}}</strong>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #el>
        <div class="d-flex justify-content-center" style="margin-top: 10rem">
          <div>
            <h1>You have not posted any thing yet.</h1><br>
            <h3 class="d-flex justify-content-center">
              <span [routerLink]="['/post-grievance']" style="color: #3d5af1; cursor: pointer">Click here</span>
              &nbsp;
              <span>to start posting.</span>
            </h3>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #editArticle>
    <div class="modal-content">
      <div class="modal-header" style="display: block">
        <div class="d-flex justify-content-end">
          <span style="color: red; cursor: pointer; margin-top: -0.5rem" (click)="closeModel()">close</span>
        </div>
        <div class="row col-md-12">
          <h4>Edit Article {{editArticleTitle}}</h4>
        </div>
      </div>
      <div class="modal-body">
        <form [formGroup]="editGrievance">
<!--          <h1 style="border-bottom: 2px solid #8899f3;"><strong>Post Grievance</strong></h1>-->
          <!--<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>-->

          <div class="d-flex justify-content-end mt-3">
            <label for="anonymous" class="me-2"><strong>Stay Anonymous to Admin: </strong></label>
            <label class="switch">
              <input type="checkbox" id="anonymous" formControlName="stayAnonymous">
              <span class="slider round"></span>
            </label>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label mb-1"><strong>Title</strong></label>
            <input type="text" class="form-control form-control-lg"
                   formControlName="title"
                   placeholder="Enter a title"/>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label mb-1" for="form3Example3"><strong>Description</strong></label>
            <textarea id="form3Example3" class="form-control form-control-lg"
                      style="width: 100%; height: 3in;"
                      formControlName="description"
                      placeholder="Enter the description of grievance">
            </textarea>
          </div>

          <div class="row col-md-12">
            <div class="text-center text-lg-start mt-4 pt-2 col-md-6 d-flex justify-content-start">
              <button class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem; background: #3d5af1"
                      (click)="submit()">Submit</button>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2 col-md-6 d-flex justify-content-end">
              <button class="btn btn-danger btn-lg" style="margin-right: -1.5rem" ngbTooltip="Delete"
                (click)="delete()">
                <span class="fa fa-solid fa-trash-can"></span>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </ng-template>
</div>
