<div style="font-family: 'Poppins', sans-serif" *ngIf="!isLoading">
  <div class="row col-md-12 mt-4 mb-4" style="height: 15%">
    <div class="col-md-4" [routerLink]="['/admin/dashboard']">
      <div class="card card-body round me-5 ms-4 shadow" style="border: none">
        <div class="row">
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-solid fa-layer-group fa-2xl"></i>
          </div>
          <div class="col-md-10">
            <div><h1><strong>{{ articlesCount }}</strong></h1></div>
            <div><h6><strong>Pending Grievance</strong></h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" [routerLink]="['/admin/users']">
      <div class="card card-body round me-5 ms-4 shadow-lg" style="border: none">
        <div class="row">
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-solid fa-users fa-2xl"></i>
          </div>
          <div class="col-md-10">
            <div><h1><strong>{{ totalUsersCount }}</strong></h1></div>
            <div><h6><strong>Total Users</strong></h6></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" [routerLink]="['/admin/user-approval-request']">
      <div class="card card-body shadow round me-5 ms-4" style="border: none">
        <div class="row">
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-solid fa-user-plus fa-2xl"></i>
          </div>
          <div class="col-md-10">
            <div><h1><strong>{{ pendingUsersCount }}</strong></h1></div>
            <div><h6><strong>New Request</strong></h6></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-right: 3rem; margin-left: 1.5rem; margin-top: 1rem; height: 85%">
    <div class="row col-md-12">
      <div class="col-md-6 p-2">
        <div class="card shadow">
          <div class="card-header d-flex align-content-end" style="border: none; background: none">
            <div class="row col-md-12" style="margin-right: -1rem">
              <div class="col-md-6">
                <strong>{{ selectedSentiment ? selectedSentiment : 'All' }} Grievances</strong>
              </div>
              <div class="col-md-6 d-flex justify-content-end" *ngIf="selectedSentiment">
                <button type="button" style="height: 23px" class="btn btn-sm btn-success pb-0 pt-0 ps-2 pe-2"
                        (click)="getAllGrievances()">All grievances
                </button>
              </div>
            </div>
          </div>
          <div class="card card-body pt-0" style="border: none">
            <div class="scrollable-section" [ngStyle]="{'height': expanded ? '23vh' : '25.3vh'}">
              <table class="table table-borderless table-hover" style="font-size: 12px">
                <thead class="border-bottom">
                <tr>
                  <th>S.N.</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Created Date</th>
                  <th>Vote</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let article of sentimentWiseArticles | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
                  (click)="openModel(articleDetail, article.title, article.content, article.is_completed, article.id)">
                  <ng-container>
                    <td>{{ ((p - 1) * 10) + (i + 1) }}</td>
                    <td>{{ article.title }}</td>
                    <td>
                      <ng-container *ngIf="article?.stay_anonymous; else els">
                        <!--                  <span class="fa fa-solid fa-eye-slash"></span>-->
                        <span style="color: red">Anonymous</span>
                      </ng-container>
                      <ng-template #els>
                        {{ article?.author_name }}
                      </ng-template>
                    </td>
                    <td>{{ article.created_at | date:'MMM dd, yyyy | hh:mm:ss a' }}</td>
                    <td>{{ article.vote }}</td>
                    <td [ngStyle]="{ 'color' : article.is_completed ? 'green' : '#3d5af1' }">
                      <strong>{{ article.is_completed ? 'Completed' : 'Pending' }}</strong></td>
                  </ng-container>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end pt-1 ps-0 pe-0 pb-0 me-3"
               style="font-size: 12px; border: none; background: none">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-2">
        <app-chart *ngIf="articles?.length"
                   [label]="label"
                   [data]="data"
                   [chartType]="'bar'" (sentimentTypeEmitter)="sentimentTypeEventHandler($event)"></app-chart>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-6 p-2">
        <app-chart *ngIf="articles?.length"
                   [label]="label"
                   [data]="data"
                   [chartType]="'polarArea'" (sentimentTypeEmitter)="sentimentTypeEventHandler($event)"></app-chart>
      </div>
      <div class="col-md-6 p-2">
        <app-chart *ngIf="articles?.length"
                   [label]="label"
                   [data]="data"
                   [chartType]="'doughnut'" (sentimentTypeEmitter)="sentimentTypeEventHandler($event)"></app-chart>
      </div>
    </div>
  </div>

</div>

<ng-template #articleDetail>
  <div class="modal-content pb-3 pe-3">
    <div class="modal-header" style="display:block">
      <div (click)="close('grievanceDetailModalRef')" class=" d-flex justify-content-end mb-2">
        <span style="color: red; cursor: pointer; margin-top: -0.5rem">
          close
        </span>
      </div>
      <div class="row col-md-12">
        <div class="col-md-11">
          <h5>{{openedArticleTitle}}</h5>
        </div>
        <div class="col-md-1">
          <span class="badge rounded-pill" [ngStyle]=" {'background-color': openedArticleStatus === 'Completed' ? '#008000' : '#6677ce'} ">
                <strong>{{openedArticleStatus}}</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <p class="py-4" style="text-align: justify">
        {{openedArticleContent}}
      </p>
    </div>
    <div class="d-flex justify-content-end" *ngIf="openedArticleStatus === 'Pending'">
      <button class="approve-button" (click)="completeArticle(openedArticleId)">Approve</button>
    </div>
  </div>
</ng-template>
